/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: FlexHomeTypePgSpacing.styl
 * *********************************************************************
 * *********************************************************************
 */
 
/**********************************************************************/
@require '../../../AppVcc/AppVcc_styleLib.styl'

$myVariants = 'FlexHomeTypePgSpacing'


/**********************************************************************/






/**********************************************************************/
@require './FlexHomeTypePgSpacing_max.styl'
@require './FlexHomeTypePgSpacing_rspn0.styl'
@require './FlexHomeTypePgSpacing_rspn1Xs.styl'
@require './FlexHomeTypePgSpacing_rspn2Sm.styl'
@require './FlexHomeTypePgSpacing_rspn3Md.styl'
@require './FlexHomeTypePgSpacing_rspn4Lg.styl'

