/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: Page4rPlaylistDtlVcc_style.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-page-4r-playlist-dtl-vcc {
	display: block;
}


@require '../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.Page4rPlaylistDtlVcc'
$myElders = ''


{$myElders}
	{$myVariants}


