/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: Page4rStationDtlVcc_style.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-page-4r-station-dtl-vcc {
	display: block;
}


@require '../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.Page4rStationDtlVcc'
$myElders = ''


{$myElders}
	{$myVariants}
		drct-station-info-panel-vcc
			margin-bottom: 20px
