/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: EmailReportPanelVcc_style.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-email-shared-panel-vcc {
	display: block;
}


@require '../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.EmailReportPanelVcc'
$myElders = ''


{$myElders}
	{$myVariants}
		
		.CharactersLeft {
			{$AppVcc_formishFieldNote}
		}


.Header4StndUseVcc /* Elder */
	.EmailReportPanelVcc {
		
		/* Style */
		color: #fff;
	}

