/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: ViewportWithPlayerUSAM_respSubstyle.styl
 * *********************************************************************
 * *********************************************************************
 */


/* Nothing responsive specific */
