/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: ViewportWithPlayerUSAM_baseStyle.styl
 * *********************************************************************
 * *********************************************************************
 */

@require '../../../AppVcc/AppVcc_styleLib.styl'


.ViewportWithPlayerUSAM
	.OuterHolder_DnN2Slot {
		/* Layout */
		display: block;
		
		/* Style */
		box-shadow: $AppVcc_stndOneUpTopBorderBlur
	}


@require './ViewportWithPlayerUSAM_respSubstyle.styl'
