/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: LoginPanelVcc_style.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-login-panel-vcc {
	display: block;
}


@require '../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.LoginPanelVcc'
$myElders = ''


{$myElders}
	{$myVariants}


.MdDialogMngrVc_
	{$myVariants}
		/* Layout */
		width: 100%


