/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: FloatingOptionsMenuVcc_style.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-floating-options-menu-vcc {
	display: block;
}


@require '../../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.FloatingOptionsMenuVcc'
$myElders = ''


{$myElders}
	{$myVariants}
		height: 0
		line-height: 0
		width: 0
		margin: 0
		padding: 0
		overflow: hidden

md-backdrop.md-menu-backdrop {

	/* Style */
	border___: solid 1px red;
	background-color: #333;
	opacity: .5
}



.zPlayerOptionsMenu.md-open-menu-container {
	
	border: solid 1px red;
}