<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: OuterHolderVccLinkTmplt.html -->
<!-- =============================================================== -->


<div class="{{ssvv.myCssName}} vcBox">

	<div class="OuterHolder_DnN1Slot VwSlot"
		ng-if="ssvv.domSwitches.OuterHolder_DnN1Slot"
		data-ui-view='OuterHolder_DnN1Slot'
	></div><!-- END: OuterHolder_DnN1Slot -->

	<div class="OuterHolder_DnN2Slot VwSlot"
		ng-if="ssvv.domSwitches.OuterHolder_DnN2Slot"
		data-ui-view='OuterHolder_DnN2Slot'
	></div>

			
</div>




