/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: MastheadPanelVcc_stylemq.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-station-info-panel-vcc {
	display: block;
}


@require '../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.MastheadPanelVcc'
$myElders = ''

@media (max-width: 767px) 
	{$myElders}
		{$myVariants}

