/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: StndChromeUSAM_rspn0.styl
 * *********************************************************************
 * *********************************************************************
 */



/**********************************************************************/
@require '../../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.StndChromeUSAM'


/***********************************************************************
 * Following reflect passive, not interactive, display.
************************************************************************/

{$myVariants}
	.FlexiArea {
		/* Layout */
		padding-top: $AppVcc_Header4StndUseVcc_Height;
	}
