/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: LoginCorePanelVcc_style.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-login-core-panel-vcc {
	display: block;
}


@require '../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.LoginCorePanelVcc'
$myElders = ''


{$myElders}
	{$myVariants}
		

		.forgotPassword {
			{$AppVcc_formishFieldNoteAndLink}

			/* Layout */
			 margin-top: 6px
			/* Style */
			background-color: transparent
			border: none

		}
