<!-- =============================================================== -->
<!-- =============================================================== -->
<!-- File: Page4rPasswordResetVcc_tmplt.html -->
<!-- =============================================================== -->
<!-- This is the {{view.myName}} Tmplt. -->
<div class="{{loc.myVcName}} vcBox"  ng-if="loc.okToShow">

	<div class="whoAmI">This is the inside of {{loc.myVcName}}.</div>

	
	<div class = "StatusMessage">{{loc.passwordResetReturn}}</div>
	
	<div class="form-container">
	<ng-form class="StndPasswordResetForm" name="StndPasswordResetForm" validate>
		<div class="articleHeading_in_page">password reset</div>
		
		<fieldset>
			
			<div class="InnerFieldset">

				<div class="FieldSetItem">
					
					<label for="MyPassword" class="sr-only">
						Password
					</label>
					
					<input	type="password" 
							id="MyPassword" 
							class="form-input"
							name="MyPassword" 
							ng-model="loc.password" 
							minlength="8"
							maxlength="30"
							required 
							placeholder="PASSWORD"
							data-drct_validate_password_adc
							zz-data-drct_validate_confirm_password_adc='MyPassword1'
							zz-validate-password-characters 		
					>
					
					<!--data-drct_validate_password_adc-->
					<div class="form_error">
						 <div class="form_error_item" ng-if="StndPasswordResetForm.MyPassword.$error.passwordChars">Your 8+ characters password must contain uppercase, lowercase, numeric and special characters.</div>
						 <div class="form_error_item" ng-if="StndPasswordResetForm.MyPassword.$error.minlength">Input too short.</div>
						 <div class="form_error_item" ng-if="StndPasswordResetForm.MyPassword.$error.maxlength">Input too long.</div>

					</div>
				</div>
				<div class="FieldSetItem">
					<label for="MyPasswordConfirm" class="sr-only">
						Confirm Password
					</label>
					
					<input	type="password" 
							id="MyPasswordConfirm" 
							class="form-input"
							name="MyPasswordConfirm" 
							minlength="8"
							maxlength="30"
							required 
							placeholder="CONFIRMED PASSWORD"
							data-drct_validate_password_adc
							data-drct_validate_confirm_password_adc="MyPassword"
							ng-model="loc.confirmPassword" zz-validate-password-characters 		
					>
					
					<!--data-drct_validate_password_adc-->

					<div class="form_error">
						 <div  class="form_error_item" ng-if="StndPasswordResetForm.MyPasswordConfirm.$error.passwordChars">Your 8+ characters password must contain uppercase, lowercase, numeric and special characters.</div>
						 <div class="form_error_item" ng-if="StndPasswordResetForm.MyPasswordConfirm.$error.minlength">
							 Input too short.
						</div>
						 <div class="form_error_item" ng-if="StndPasswordResetForm.MyPasswordConfirm.$error.maxlength">
							 Input too long.
						</div>
						 <div class="form_error_item" ng-if="StndPasswordResetForm.MyPasswordConfirm.$error.doPasswordsMatch">Passwords don't match.</div>
					</div>

					
					<div class="ButtonContainer">
						<md-button  
							class="md-primary"  
							ng-disabled="StndPasswordResetForm.$invalid"  
							onclick="return false;" data-drct_click_to_mediator_adc='{
								"notice": {
									"noticeName" : "PasswordResetButton_clicked",
									"vc" : "AppVcc_MediatorServiceExtnClass",  						
									"context" : "",  						
									"handoffSpecId" : ""
									}    				
								}'
							>  
							Submit
						</md-button>  
					</div>
				</div>
				
			</div>
			
		</fieldset>

	</ng-form>
	</div>
</div>
</div>
