/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: FlexInsidePgSpacing.styl
 * *********************************************************************
 * *********************************************************************
 */
 
/**********************************************************************/
@require '../../../AppVcc/AppVcc_styleLib.styl'

$myVariants = 'FlexInsidePgSpacing'


/**********************************************************************/






/**********************************************************************/
@require './FlexInsidePgSpacing_max.styl'
@require './FlexInsidePgSpacing_rspn0.styl'
@require './FlexInsidePgSpacing_rspn1Xs.styl'
@require './FlexInsidePgSpacing_rspn2Sm.styl'
@require './FlexInsidePgSpacing_rspn3Md.styl'
@require './FlexInsidePgSpacing_rspn4Lg.styl'

