/*
 * *********************************************************************
 * *********************************************************************
 * *********************************************************************
 * File: SignupPanelVcc_style.styl
 * *********************************************************************
 * *********************************************************************
 */
 
drct-signup-panel-vcc {
	display: block;
}


@require '../../AppVcc/AppVcc_styleLib.styl'

$myVariants = '.SignupPanelVcc'
$myElders = ''


{$myElders}
	{$myVariants}


.MdDialogMngrVc_
	{$myVariants}
		/* Layout */
		width: 100%
		min-height: 300px

